[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setproctitle = "*"
pyyaml = "*"
gbulb = "*"
sanic = "*"
websockets = "*"
pytest = "*"
pillow = "*"
pygobject = "*"
vext = "*"
psutil = "*"
gobject = "*"
#streamlink = {git = "https://github.com/streamlink/streamlink.git"}
streamlink = "*"
youtube-dl = "*"
cef = "*"

[dev-packages]

[requires]
python_version = "3"
