src/subprocess
aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
Makefile
depcomp
install-sh
ltmain.sh
missing
stamp-*
my-plugin-*.tar.*
compile
.vscode
third_party

build/
CMakeFiles/
GPUCache/
package/
*~

aclocal.m4
autom4te.cache
build
config.h
config.h.in
config.log
config.status
config.guess
config.sub
config.rpath
configure
gstreamer-libs-uninstalled*.pc
gstreamer-libs*.pc
gstreamer-play-uninstalled*.pc
gstreamer-play*.pc
libtool
stamp-h
stamp-h.in
stamp-h1
gst-element-check-*.m4
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
/INSTALL
_stdint.h
gst-plugins-bad-*.tar.*
.vs

.deps
.idea
.libs
.dirstamp
*.lo
*.la
*.so
*.o
*.pyc
*~
/m4
Makefile.in
Makefile
*.gir
*.typelib
*.gc??

tmp-orc.c
gst*orc.h


Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store

*.log
*.trs

*.gypcmd
*.mk
*.ncb
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~

# CEF build directory
/build
/src/Release
# CEF download directory
/third_party/cef/
libcef_dll_wrapper/

cmake_install.cmake
CMakeCache.txt

install_manifest.txt